@import "../index.sass"

.container-home
    width: 60vw
    margin: auto
    height: 90dvh

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    h1
        font-size: 2.8rem
        text-align: center

    h2
        font-size: 2.4rem

    h3
        font-size: 1.8rem
        color: $color-specially
        margin-bottom: 1rem

    p
        font-size: 1rem
        padding-top: 10px
        text-align: center

.box-buttons
    padding-top: 20px

    button
        padding: 8px 10px
        border-radius: 50px
        outline: none
        background: $bg-color
        border: 1.5px solid $font-color
        cursor: pointer

        display: flex
        align-items: center

        .link
            text-decoration: none
            color: $font-color
            font-family: $Inter
            font-size: .8rem

    button:hover
        background: $bg-text-color
        border-color: #1FDF64
        transition: all .5s

        .icon
            animation: slide-tr .5s ease-in-out infinite alternate forwards

.astronalta
    position: absolute
    z-index: -20
    width: 25%
    transform: rotate(20deg)
    left: 68%
    top: 10%

.container-project
    width: 70vw
    height: 90dvh
    margin: auto

@-webkit-keyframes slide-tr
  0% 
    -webkit-transform: translateY(0) translateX(0)
    transform: translateY(0) translateX(0)

  100% 
    -webkit-transform: translateY(-2px) translateX(2px)
    transform: translateY(-2px) translateX(2px)

@media screen and (max-width: 480px)
    .container-home
        width: 80vw

        h1
            font-size: 2rem
            color: $font-color

        h2
            font-size: 1.3rem

        h3
            font-size: 1rem
            color: $color-specially

        p
            font-size: .5rem
            padding-top: 10px
