@import "../index.sass"

.container
    width: 70vw
    height: 50dvh
    margin: auto

    .container-service
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin: auto
        gap: 1.4rem

        .title-service
            display: flex
            flex-direction: column
            align-items: center

            h2
                font-size: 2rem
                color: $font-color

            p
                font-size: 1rem
                color: $font-color

        .box-service
            display: flex
            gap: 1.5rem
            flex-wrap: wrap
            justify-content: center

            div
                min-width: 250px
                max-width: 300px
                background: $bg-text-color
                border-radius: 5px

                display: flex
                flex-direction: column
                gap: 5px

                padding: 30px
                border: 1.5px solid #111111
                box-shadow: $box-shadow
                h3
                    font-size: 1.5rem
                    color: $font-color

                p
                    font-size: .8rem
                    color: $font-color

                .icon
                    font-size: 2rem
                    color: $font-color

            div:hover
                animation: focus .5s forwards
                border-color: $color-specially
                color: $color-specially

    @keyframes focus
        from
            transform: scale(1)

        to
            transform: scale(1.09)

@media screen and (max-width: 480px)
    .container-home
        width: 80vw

        h1
            font-size: 2rem
            color: $font-color

        h2
            font-size: 1.3rem

        h3
            font-size: 1rem
            color: $color-specially

        p
            font-size: .5rem
            padding-top: 10px
