@import "../index.sass"

.container-skills
  width: 70vw
  margin: auto

  .container-title
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    h2
      font-size: 2rem
      color: $font-color

    p
      font-size: 1rem
      color: $font-color
      text-align: center

.container-flex
  margin: auto
  margin-top: 2rem
  display: flex
  flex-direction: column
  justify-content: space-evenly
  align-items: center
  gap: 2rem

  .container-box-resume p
    font-size: 1rem
    color: $font-color
    text-align: center
    width: 90%
    margin: auto

  .container-skills
    display: flex
    justify-content: center
    gap: 1rem
    flex-flow: wrap

    .box-skill
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      gap: .5rem
      width: 100px
      height: 100px
      background: $bg-text-color
      border: 1.5px solid $bg-color
      border-radius: 8px

      .icon
        font-size: 2rem
        color: $font-color

    .box-skill:hover
      border-color: #1FDF64
      transition: all .5s

@media screen and ( max-width: 480px )
  .container-flex

    .container-box-skills
      flex-wrap: wrap
