@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap')

$bg-color: #EDF0F7
$light_background_color: #F1F4F9
$bg-text-color: #F1F4F9
$Inter: 'Outfit', sans-serif
$font-color: #000
$color-specially: #1FDF64
$box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #e7e7e7

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: $bg-color
    font-size: 62.5%
    font-family: $Inter
